# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [3]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [33]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [35]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

15

In [5]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

12

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [6]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [7]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS project2 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [8]:
try:
    session.set_keyspace('project2')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

#### **Task 1: Create table based on the following query.**

**Query** 

Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

**Table Description** 
* Title: `songplay_by_sessionid_iteminsession`  
* Primary Key:   
    * Partition key - `sessionid` 
    * Clustering Columns - `iteminsession` 
* Columns: 
    * `sessionid`     (int) (Partition Key)
    * `iteminsession` (int) (Clustering Column)
    * `artist`        (varchar)
    * `song_title`    (varchar)
    * `song_length`   (decimal)
    
**Explanation** 
* `sessionid` is used as the partition key because the data needs to be first filtered by that first  
* `iteminsession` is used as the only clustering column as it is the second filtering criteria.

**Step 1: Create Table**

In [9]:
query = "CREATE TABLE IF NOT EXISTS songplay_by_sessionid_iteminsession"
query = query + """(sessionid int,
                    iteminsession int,
                    artist varchar,
                    song_title varchar,
                    song_length decimal,
                    PRIMARY KEY ((sessionid), iteminsession ))
                """
try:
    session.execute(query)
except Exception as e:
    print(e)

In [11]:
df = pd.read_csv('event_datafile_new.csv')
df.head(3)

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Des'ree,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",139,You Gotta Be,8
1,Mr Oizo,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",139,Flat 55,8
2,Tamba Trio,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",139,Quem Quiser Encontrar O Amor,8

**Step 2: Perform ETL**

In [45]:

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        
        query = """INSERT INTO songplay_by_sessionid_iteminsession (sessionid,
                                                                    iteminsession, 
                                                                    artist, 
                                                                    song_title, 
                                                                    song_length)
                
                """
        query = query + "VALUES (%s, %s, %s, %s, %s)"

        session.execute(query, (eval(line[8]), eval(line[3]), line[0], line[9], eval(line[5])))

#### Do a SELECT to verify that the data have been inserted into each table

In [54]:
query = """SELECT artist, song_title, song_length 
            FROM songplay_by_sessionid_iteminsession 
            WHERE sessionid = 338 AND iteminsession =4
        """


try:
    rows = session.execute(query)
except Exception as e:
    print(e)
             
for row in rows: 
    print('Artist:', row.artist, ', Song:', row.song_title, ', Length:', row.song_length)

Artist: Faithless , Song: Music Matters (Mark Knight Dub) , Length: 495.3073

#### **Task 3: Create table based on the following query.**

**Query**

Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

**Table Description**
* Title: `songplay_by_userid_sessionid_iteminsession`
* Composite Primary Key:  
    * Partition key - `userid` 
    * Clustering Columns - `sessionid`,`iteminsession` (in order)
    * Columns:
        * `userid`        (int) (Partition Key)
        * `sessionid`     (int) (1st Clustering Column)
        * `iteminsession` (int) (2nd Clustering Column)
        * `artist`        (varchar) 
        * `song_title`    (varchar)
        * `user_firstname`(varchar)
        * `user_lastname` (varchar)

**Explanation**
* `userid` is used as the partition key because the data needs to be first filtered by that.  
* `sessionid` is used as the first clustering column as it is the second filtering criteria. Similarly `iteminsession` is used as the second clustering column as it is the second filtering criteria. 
* The sorting by first and last name can be handled during live query by adding an order by statement.

**Step 1: Create Table**

In [7]:
# Create table
query = "CREATE TABLE IF NOT EXISTS songplay_by_userid_sessionid_iteminsession "
query = query + """(userid int,
                    sessionid int,
                    iteminsession int, 
                    artist varchar, 
                    song_title varchar, 
                    user_firstname varchar,
                    user_lastname varchar,  
                    PRIMARY KEY ((userid), sessionid, iteminsession))
                """
try:
    session.execute(query)
except Exception as e:
    print(e)

**Step 2: Perform ETL**

In [63]:

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:

        query = """INSERT INTO songplay_by_userid_sessionid_iteminsession (userid,
                                                                           sessionid,
                                                                           iteminsession, 
                                                                           artist,
                                                                           song_title,
                                                                           user_firstname, 
                                                                           user_lastname)
                                                                           
                """
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
       
        session.execute(query, (eval(line[10]), eval(line[8]),
                                eval(line[3]), line[0], line[9], 
                                line[1], line[4]))

**Step 3: Run test query:** 

Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [66]:
query = """SELECT artist, song_title, user_firstname, user_lastname 
                FROM songplay_by_userid_sessionid_iteminsession 
                WHERE userid = 10 AND sessionid = 182 
        
        """


try:
    rows = session.execute(query)
except Exception as e:
    print(e)
             
for row in rows: 
    print(row.artist, ', ', row.song_title, ', ', row.user_firstname, ', ', row.user_lastname)

Down To The Bone ,  Keep On Keepin' On ,  Sylvie ,  Cruz
Three Drives ,  Greece 2000 ,  Sylvie ,  Cruz
Sebastien Tellier ,  Kilometer ,  Sylvie ,  Cruz
Lonnie Gordon ,  Catch You Baby (Steve Pitron & Max Sanna Radio Edit) ,  Sylvie ,  Cruz

#### **Task 3: Create table based on the following query.**

**Query**

Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

**Table Description**
* Title: `songplay_by_songtitle_userid`
* Composite Primary Key:  
    * Partition key - `song_title` 
    * Clustering Columns - `userid`
    * Columns:
        * `song_title`    (varchar) (Partition Key)
        * `userid`        (int) (Clustering Column)
        * `user_firstname`(varchar)
        * `user_lastname` (varchar)

        
**Explanation**

* Song title is used as the partition key because the data needs to be filtered by that.  
* Since cassandra does not allow duplicate keys and a song is listened to by multiple users, user id is used as the clustering column to achieve a unique primary key.  
* All other columns added according to query requirements.
 
**Step 1: Create Table**

In [8]:
query = "CREATE TABLE IF NOT EXISTS songplay_by_songtitle_userid "
query = query + """(song_title varchar,
                    userid int, 
                    user_firstname varchar,
                    user_lastname varchar,  
                    PRIMARY KEY ((song_title), userid ))
                """
try:
    session.execute(query)
except Exception as e:
    print(e)

**Step 2: Perform ETL**

In [69]:

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        
## TO-DO: Assign the INSERT statements into the `query` variable
        query = """INSERT INTO songplay_by_songtitle_userid (song_title, 
                                                             userid, 
                                                             user_firstname, 
                                                             user_lastname)
                """
        query = query + "VALUES (%s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[9], eval(line[10]), line[1], line[4]))

**Step 3: Run test query:** 

Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [12]:
query = """SELECT user_firstname, user_lastname 
                FROM songplay_by_songtitle_userid 
                WHERE song_title = 'All Hands Against His Own' 
        """


try:
    rows = session.execute(query)
except Exception as e:
    print(e)
             
for row in rows: 
    print(row.user_firstname, ', ', row.user_lastname)

### Drop the tables before closing out the sessions

In [71]:

try: 
    session.execute('DROP TABLE IF EXISTS songplay_by_sessionid_iteminsession')
except Exception as e:
    print(e)
    

try: 
    session.execute('DROP TABLE IF EXISTS songplay_by_userid_sessionid_iteminsession')
except Exception as e:
    print(e)
    
try: 
    session.execute('DROP TABLE IF EXISTS songplay_by_songtitle_userid')
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [72]:
session.shutdown()
cluster.shutdown()